body {
    background-color: #f8f9fa;
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/597/471/non_2x/cowboy-on-horseback-before-the-bridger-mountains-in-montana-at-sunrise-silhouette-concept-free-photo.jpg');;
}

.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
